


.slide {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    /* the value of width must equal the total of the content widths */
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.one {
    background: #db1b1b;
}

.two {
    background: #d1fb28;
}

.three {
    background: #26eb36;
}

.four {
    background: #5835f7;
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

::webkit-scrollbar {
    display: none;
}
